:root {
    color-scheme: light dark;
    --white: #d1d0c5;
    --yellow: #daaf38;
    --red: #ca4754;
    --black: #323437;
    --gray: #646669;
}

body {
    background: var(--black);
    font-family: monospace;
    font-size: 2em;
    display: grid;
    justify-content: center;
    padding: 32px;
}

section {
    display: grid;
    grid-template-columns: 90%;
    gap: 4px;
}

time {
    color: var(--yellow);
}

input {
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

p {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 8px;
    margin: 0;
}

word {
    border-bottom: 1.5px solid transparent;

    &.marked {
        border-color: var(--red);
    }
}

letter {
    color: var(--gray);
    position: relative;

    transition: all .1s ease-in-out;

    &.active::before {
        content: '|';
        color: var(--yellow);
        font-size: 25px;
        position: absolute;
        left: -50%;
        animation: 1s blink infinite ease-in-out;
    }

    &.active.is-last::before {
        left: 50%;
    }

    &.correct {
        color: var(--white);
    }

    &.incorrect {
        color: var(--red);
    }
}

#buttons {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

}

#results {
    display: none;
    flex-direction: column;
}

h2 {
    font-weight: 400;
    opacity: .4;
    margin: 0;
    font-size: 16px;
}

h3 {
    font-weight: 400;
    margin: 0;
    font-size: 24px;
    color: var(--yellow);
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}